# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Environments
.env

# Logs
*.log

# Virtualenv
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
